# python files
*.pyc
/__pycache__
/cogs/__pycache__
.python-version
seequal.py
sql.py
mariadb.py

# json files
banned.json
*.json

# OS files
.DS_Store

# environment files
.env
.env*

# virtual environments
/.venv

# other
/genius
/Other
gifs/catcam
cat_rec.mp4
cat_cap_0.jpg