# python files
*.pyc
/__pycache__
/cogs/__pycache__
.python-version

# specific json files
banned.json

# OS files
.DS_Store

# environment files
.env

# virtual environments
/.venv

# vs code
.vscode

# other
/gifs
.bat
*.log
.db