# python files
*.pyc
/__pycache__
/cogs/__pycache__
.python-version
seequal.py
sql.py
mariadb.py

# specific json files
banned.json

# OS files
.DS_Store

# environment files
.env
.env*

# virtual environments
/.venv

# other
/genius
/Other
gifs/catcam
gifs/weird
pixel_obama.png
/CatBot
bot_startup.bat
bot.log
try.py
obama.db