# SAMPLE.env 
# Replace keys with your own


# REQUIRED: Discord bot token
DISCORD_TOKEN=""

# REQUIRED: Bot command prefix
PREFIX="!"

# File paths on local machine that will be mounted to the docker container. See docker-compose.yml
LOG_FILE_PATH=""
DATABASE_FILE_PATH=""

# For counter Cog: SQLite database path inside the docker container
DB_PATH="./database/obamabot.db"

# For giphy Cog: Giphy API key
GIPHY_KEY=""

# For counter Cog: SQLite database file password and target name
PASSWORD=""
TARGET="obama"

# For insider_trading Cog: Polygon.io API key
POLYGON_API_KEY=""

# For not_reddit Cog: Reddit API client info
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
REDDIT_USER_AGENT=""

# For youtube Cog and wheres_the_food Cog: YouTube and Google API keys
YOUTUBE_API_KEY=""
GOOGLE_MAPS_API_KEY=""

# For friends Cog: List of guild IDs that the bot will respond to
FRIEND_GUILD_IDS=[]